nav {
    background-color: #c6739e;
}

nav li {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    padding: 7px;
}

a:hover {
    background-color: #b1628b;
}

nav span {
    font-family: 'Gabriela', serif;
    font-size: 20px;
}

@media (min-width: 768px) {
    #navIcono {
        display: none;
    }
}

#logo {
    padding: 30px 50px;
}

#fondoIndex1 {
    background-image: url(../imagenes/index/fondoIndex1.jpeg);
}

#byAlejandra {
    font-family: 'Gabriela', serif;
    background-color: #c6739e;
    border-radius: 8px;
    color: white;
    margin: 0px;
}

.section2 {
    background-color: antiquewhite;
}

.carousel-inner {
    padding: 4%;
    background-color: rgb(233, 240, 240);
    margin: 6% 20%;
    border-style: double;
    border-width: 8px;
    border-radius: 10px;
}

section aside {
    font-family: 'Amaranth', sans-serif;
    padding: 3% 0%;
}

.icon-black, .icon-black:hover {
    color: black;
    background-color: white;
}

footer {
    background-color: #c6739e;
    font-family: 'Amaranth', sans-serif;
    height: 60px
}

footer ul {
    list-style: none;
    text-align: center;
    padding-top: 20px;
    margin: 0px;
}

footer ul li {
    display: inline;
    margin: 0px 20px 0px 0px;
    color: white;
}

a:link {
    text-decoration: none;
    color:white
}

a:visited {
    text-decoration: none;
    color:white
}

a:hover {
    background-color: #b1628b;
    transition: 0.5s;
}

@media (min-width: 1024px) {
    .card-body {
        font-size: 20px;
    }

}

@media (max-width: 768px) {
    footer {
        font-size: 12px;
    }

    #byAlejandra {
        font-size: 18px;
    }
}

@media (max-width: 425px) {
    footer {
        font-size: 12px;
    }

    #byAlejandra {
        font-size: 13px;
    }

    section aside {
        font-size: 12px;
    }
}

.bodyDulces {
    font-family: 'Amaranth', sans-serif;
    background-image: url(../imagenes/dulcesCreaciones/fondo.webp);
}

.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.flex {
    display: flex;
    justify-content: center;
}

.figure1 {
    padding: 0px 15px;
}

#card1 {
    margin-top: 20px;
    background-color: rgb(226, 205, 182);
    padding: 0px 40px;
}

.fotos {
    padding: 0px;
    margin: 10px 0px;
    border-radius: 10px;
    border-width: 5px;
    border-color: black;
    border-style: double;
}

#card2 {
    margin-bottom: 20px;
    padding: 0px 30px;
    border-color: rgb(222, 195, 164);
    border-width: 2px;
}

.body_font {
    font-family: 'Amaranth', sans-serif;
} 

.color2 {
    background-color: rgb(179, 225, 234);
    margin: 0px;
}

.figure_menu {
    margin: 0px 0px 0px 45px;
}

.div_menu {
    width: 1200px;
    padding: 100px 0px 100px 0px;
    margin: 50px 0px 40px 150px;
    background-image: url(../imagenes/menu/frutales.jpeg) ;
}

.h3_menu {
    text-align: center;
    color: black;
    width: 250px;
    height: 35px;
    margin: 0px 0px 0px 500px;
    background-color: rgb(179, 225, 234);
}

#background_1 {
    background-image: url(../imagenes/menu/golosos.webp);
}

#background_2 {
    background-image: url(../imagenes/menu/otros.jpg);
}

body section figure img {
    margin: 0px 0px 20px 25px;
}

.color3 {
    background-image: url(../imagenes/servicios/fondo.jpg);
}

body main h3 {
    background-color: rgb(176, 246, 162);
    width: 200px;
    text-align: center;
    margin: 30px 0px 20px 180px;
}

body main p {
    font-size: 17px;
    border-style: double;
    border-width: 7px;
    border-color: black;
    width: 320px;
    height: 223px;
    margin: 0px 0px 0px 120px;
    background-color: azure;
}

#h3_largo {
    width: 350px;
    margin: 30px 0px 20px 105px;
}

#a_h4 {
    color: black;
    text-decoration: underline;
    margin: 0px 0px 0px 1200px;
    font-size: 20px;
}



.color4 {
    background-image: url(../imagenes/servicios/fondo.jpg);
}


.titulos_contacto {
    text-align: center;
    background-color: antiquewhite;
    padding: 50px 50px 50px 50px;
    margin: 60px 150px 0px 150px;
    font-size: 30px;
    border-style: double;
    border-color: black;
    border-width: 7px;
}

.logos_contacto1 {
    margin: 20px 0px 0px 150px;
}

.logos_contacto2 {
    margin: 20px 0px 0px 150px;
}

#email {
    margin: 10px 0px 0px 150px;
}

#whatsapp {
    margin: 10px 0px 0px 150px;
}

body section form {
    border-style: double;
    border-width: 7px;
    border-color: black;
    background-color: #eeeeee;
    width: 550px;
    height: 300px;
    margin: 50px 0px 50px 450px;
}

input {
    width: 140px;
    margin: 30px 10px 10px 20px;
    height: 30px;
}


#mensaje {
    width: 505px;
    height: 100px;
    margin: 30px 10px 10px 20px;
    font-family: Arial;
}

#enviar {
    margin: 30px 10px 10px 390px;
}